@import "_header";

h1 {
	color: green;
}

body {
	font-size: 20px;

	div {
		font-size: 20px;
	}
}

.block {
	&__item {
		font-size: 2;
	}
}

.block {
	margin: 0px 0px 0px 0px;
}
.block__item {
	margin: 0px 0px 0px 0px;
}

.red {
	color: red;
}

@media (max-width) {
	.red {
		border: 0;
	}
}
